<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">AdminPanel</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item active">
            <button class="nav-link align-middle px-0" (click)="onClick('home')">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </button>
          </li>
          <li class="nav-item">
            <a href="userprofile" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Idź do blogu</span>
            </a>
          </li>
          <li>
            <button class="nav-link px-0 align-middle" (click)="onClick('templates')">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Templates</span>
            </button>
          <li>
            <button class="nav-link px-0 align-middle" (click)="onClick('')">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Placeholder
            </span></button>
          </li>
          <li>
            <a data-bs-target="#menu"  class="nav-link px-0 align-middle " role="button" (click)="onClick('')">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Zmień zawartość</span></a>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Produkty</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Produkt</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Produkt</span> 2</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Struktura</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Content</span> 4</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="nav-link px-0 align-middle" role="button" (click)="onClick('settings')">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Ustawienia użytkownika</span> </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" role="button" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">{{userDetails.nickname}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" role="button"(click)="onClick('settings')">Ustawienia</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" role="button" (click)="onLogout()">Wyloguj się</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3" [ngSwitch]="display">
      <app-home *ngSwitchCase="'home'"></app-home>
      <app-templates (addThemeToParent)="addTheme($event)" *ngSwitchCase="'templates'"></app-templates>
      <app-settings *ngSwitchCase="'settings'"></app-settings>
      <app-home *ngSwitchCase="''"></app-home>

    </div>
  </div>
</div>
