<form
  action=""
  [formGroup]="RequestResetForm"
  (ngSubmit)="onSubmit(RequestResetForm)"
>
    <input
      placeholder="E-mail"
      type="text"
      id="email"
      formControlName="email"
    />
    <div
      *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
      class="help-block"
      >Nieprawidłowy format e-mail!</div
    >
    <input type="submit" value="Wyślij link do zmiany hasła" />
  <div class="success" id="successMsg" *ngIf="successMessage">
    <span>{{ successMessage }}</span>
  </div>
  <div class="alert" *ngIf="serverErrorMessages">
    {{ serverErrorMessages }}
  </div>
</form>
