<div class="wrapper">
  <form action="" [formGroup]="DeleteAccountForm" (ngSubmit)="onSubmit(DeleteAccountForm)">
      <div id="formContent">
        <h2>Usunięcie konta</h2>
        <div>
          <input placeholder="Podaj hasło" type="password" id="passwordDelete" formControlName="passwordDelete" />
          <div *ngIf="
              !DeleteAccountForm.get('passwordDelete').valid &&
              DeleteAccountForm.get('passwordDelete').value !=
                userDetails?.password &&
              !IsFormDeleteValid &&
              !IsFormDeleteValid
            " class="help-block"><label class="validation-message">
            Nieprawidłowe hasło!</label>
          </div>
        </div>
        <div>
          <input type="checkbox" id="accepted" name="accepted" #checkBox /><label>Potwierdzam usunięcie konta</label>
        </div>
        <div *ngIf="!checkBox.checked &&
              !IsFormDeleteValid
            " class="help-block"><label class="validation-message">
            Potwierdź usunięcie konta!</label>
          </div>
          <div *ngIf="checkBox">
            <input type="submit" value="Usuń konto" />
          </div>
        <div div class="success" *ngIf="successMessage">
          <div>{{ successMessage }}</div>
        </div>
        <div class="alert" *ngIf="serverErrorMessages">
          {{ serverErrorMessages }}
        </div>
      </div>
    </form>
  </div>