<div *ngIf="!exists">Brak takiego blogu!!!
</div>

<div *ngIf="exists">
  <!-- <div class="wrapper">
<div id="formContent"> -->
<!--
<table *ngIf="userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center" *ngIf="userDetails.website">{{userDetails.website}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Wyloguj się" />
            </td>
        </tr>
    </tbody>
  </table>
-->
<div class="container">
  <div class="col py-3" [ngSwitch]="pickTheme">
    <app-theme1 [userDetails]="currentItem" *ngSwitchCase="'1'"></app-theme1>
    <app-theme2 [userDetails]="currentItem" *ngSwitchCase="'2'"></app-theme2>
    <app-theme3 [userDetails]="currentItem" *ngSwitchCase="'3'"></app-theme3>
  </div>
</div>
<!-- </div>
</div> -->
</div>