<form
  #signInForm="ngForm"
  (ngSubmit)="signInForm.valid && onSubmit(signInForm)"
>
  <input
    type="text"
    name="email"
    #email="ngModel"
    [(ngModel)]="model.email"
    placeholder="E-mail"
    [pattern]="emailRegex"
    required
    [ngClass]="{ 'invalid-textbox': signInForm.submitted && !email.valid }"
  />
  <div *ngIf="signInForm.submitted && email.errors?.pattern">
    <label class="validation-message">Nieprawidłowy adres e-mail.</label>
  </div>
  <input
    type="password"
    name="password"
    #password="ngModel"
    [(ngModel)]="model.password"
    placeholder="Hasło"
    required
    minlength="4"
    [ngClass]="{ 'invalid-textbox': signInForm.submitted && !password.valid }"
  />
  <div *ngIf="signInForm.submitted && password.errors?.minlength">
    <label class="validation-message"
      >Hasło musi zawierać co najmniej 4 znaki.</label
    >
  </div>
  <div class="buttons">
  <input type="submit" class="login" value="Zaloguj się" />
  <h2 class="forgotpass" routerLink="/requestreset" routerLinkActive="active">
    Zapomniałeś hasła?
  </h2>
  </div>
</form>
<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{ serverErrorMessages }}
</div>